<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="add" routerLink="/criar-aula">
      <ion-icon name="add"></ion-icon>
      Criar aula
    </ion-tab-button>
    <ion-tab-button tab="person" routerLink="/perfil">
      <ion-icon name="person"></ion-icon>
     Perfil
    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      Search
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-toolbar>
</ion-footer>