<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="user; else loginButton">
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <ion-avatar>
              <img src="assets/icon/mario.jpeg" [alt]="'Foto de Perfil'">
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-card-title>
              {{ user.nome }}
            </ion-card-title>
            <ion-card-subtitle>
              ID: {{ user.id | slice:0:4 }}
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <ng-template #loginButton>
    <ion-button expand="full" button routerLink="/login">
      Logar
    </ion-button>
  </ng-template>

  <ion-list *ngIf="user">
    <ion-item button routerLink="/dados-pessoais">
      Dados Pessoais
    </ion-item>
    <ion-item button routerLink="/alterar-senha">
      Alterar Senha
    </ion-item>
    <ion-item button (click)="logout()">
      Sair do App
    </ion-item>
  </ion-list>
</ion-content>

<app-tabs></app-tabs>
