<app-header></app-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="salvarAula(form)">
    <ion-row style="margin-top: 50px;">
      <ion-col>
        <ion-label>Nome Aula *</ion-label>
        <ion-input type="text" class="input" fill="outline" [(ngModel)]="aulaService.aula.nome" name="nome" required></ion-input>
        <br />
        <ion-label>Professor *</ion-label>
        <ion-input type="text" class="input" fill="outline" [(ngModel)]="aulaService.aula.professor" name="professor" required></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-label>Data *</ion-label>
        <ion-input type="date" class="input" fill="outline" [(ngModel)]="aulaService.aula.data" name="data" required></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-label>Qtd Alunos*</ion-label>
        <ion-input type="number" class="input" fill="outline" min="0" [(ngModel)]="aulaService.aula.qtd" name="qtd" required></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Hora De Inicio*</ion-label>
        <ion-input type="time" class="input" fill="outline" [(ngModel)]="aulaService.aula.hora_inicio" name="hora_inicio" required></ion-input>
      </ion-col>
      <ion-col>
        <ion-label>Hora De Fim</ion-label>
        <ion-input type="time" class="input" fill="outline" [(ngModel)]="aulaService.aula.hora_fim" name="hora_fim" required></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Descriçao Treino:</ion-label>
        <ion-textarea style="height: 250px;" class="input" fill="outline" [(ngModel)]="aulaService.aula.descricao" name="descricao"></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row class="ion-text-center">
      <ion-col>
        <ion-button type="submit" class="custom-button">
          Criar Aula
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<app-tabs></app-tabs>
