<app-header></app-header>

<ion-content [fullscreen]="true">

  <div class="titulo-atividade" style="margin: 10px 0px; text-align: center;">
    <h1>Atividades</h1>
  </div>

  <div class="container" *ngFor="let aula of aulaService.aulas">
    <div class="main-div">
      <aside class="side-div">
        <span>{{ aula.data }}</span>
      </aside>
      <div class="atividade-container">
        <div class="atividade-div">
          <div class="top-div">
            <ion-row>
              <ion-col>
                <h1>{{ aula.nome }}</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="alinhamento">
                <img style="width: 40px;" src="assets/icon/icon persons.png" alt="">
                <span>{{ aula.confirmados }} / {{ aula.qtd }}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-end">
                <button
                  [ngStyle]="{ 'background-color': aula.confirmados >= aula.qtd && !isParticipating(aula) ? '#FFC107' : isParticipating(aula) ? '#FF0000' : '#4E905C', 'height': '50px', 'border-radius': '5px', 'width': 'auto', 'padding': '10px', 'color': 'black' }"
                  (click)="aulaService.confirmarPresenca(aula)"
                  [disabled]="aula.confirmados >= aula.qtd && !isParticipating(aula)">
                  {{ aula.confirmados >= aula.qtd && !isParticipating(aula) ? 'Indisponível' : isParticipating(aula) ? 'Cancelar' : 'Participar' }}
                </button>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>

<app-tabs></app-tabs>
