.titulo{
    text-align: start;
    margin-left: 5%;
}

.perfil{
    display: flex;
    margin: 5% 0% 5% 5%;
    align-items: start;
    gap: 10px;
}


.atividade{
width: 90%;
}

.desc{
    text-align: end;
}

.descricao{
    width: 90%;
    margin-left: 5%;
    text-align: justify;

}

.indisponivel {
    background-color: #FFC107 !important; /* Amarelo */
    color: black !important;
  }
  
  .cancelar {
    background-color: #FF0000 !important; /* Vermelho */
    color: black !important;
  }
  
  .participar {
    background-color: #4E905C !important; /* Verde */
    color: black !important;
  }
  